h1{
    color:black;
    font-weight: bold;
   
    background: orange;
}
body{
    
<<<<<<< HEAD
    background-image: url("images/kk.jpg");
    background-color: GhostWhite;
    background-size: 100% 100%;
    
=======
    background-image: url("images/123.jpg");
    background-size: 100% 100%;
>>>>>>> d4ca857c0cbac8e743fe01b55fb8321219c2bab9
    
}