h1{
    color:black;
    font-weight: bold;
   
    background: orange;
}
body{
    
    background-image: url("images/kk.jpg");
    background-color: GhostWhite;
    background-size: 100% 100%;
    
    
}